@model UI.Models.Recpage.p91RecPage
@inject BL.Factory _f

@{

    Layout = "~/Views/Shared/_LayoutSubform.cshtml";
    if (Model.Rec == null) return;


}

@addTagHelper *, UI

<a class="btn btn-sm btn-outline-dark" href="/p91/RecPage?pid=@Model.pid" target="_top" title="@_f.tra("Stránka vyúčtování")"><span class="k-icon k-i-layout"></span></a>

@Html.EditorFor(m => m, "~/Views/Shared/_p91RecPageButtons.cshtml")

<div class="info_record_container">

    @Html.EditorFor(m => m, "~/Views/Shared/_p91RecPageContent.cshtml")

</div>




