@model UI.Models.Recpage.p90RecPage
@inject BL.Factory _f

@{

    Layout = "~/Views/Shared/_LayoutSubform.cshtml";
    if (Model.Rec == null) return;


}

@addTagHelper *, UI

<div class="info_record_container">

    @Html.EditorFor(m => m, "~/Views/Shared/_p90RecPageContent.cshtml")

</div>