body {
    margin: 0px;
}

.btn-light:hover {
    background-color: #DCDCDC;
}

#mainmenu1_container {
    background-color: #2D89EF;
}


    #mainmenu1_container li.nav-item {
        padding-top: 2px;
        padding-bottom: 2px;
    }

    #mainmenu1_container a.nav-link {
        color: #FFFFFF;
        padding: 5px 10px 5px 10px;
    }

        #mainmenu1_container a.nav-link:not(.active):hover {
            background-color: royalblue;
            color: white !important;
        }



.dynamicmenu_container {
    min-width: 200px;
    background-color: #E6F0FF;
}



#mainmenu1_container .dropdown-item:hover {
    background-color: #DCDCDC;
}

#mainmenu1_container .active {
    background-color: white;
    border-radius: 3px;
    color: #1e2de0 !important;
}

.modal_record_container {
    max-width: 1050px;
}

@media only screen and (max-width: 1199px) {

    .modal_record_container {
        margin: 6px;
    }
}

@media screen and (min-width: 1200px) {

    .modal_record_container {
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 6px;
    }

    #ulMyProfile { /*odkaz Můj profil v hlavním menu, aby se jeho nabídka zobrazila úplně vpravo*/
        margin-left: -190px;
        width: 300px;
    }

    #ulFontSize { /*odkaz Můj profil v hlavním menu, aby se jeho nabídka zobrazila úplně vpravo*/
        margin-left: -80px;
        width: 200px;
    }
}



select {
    cursor: pointer;
}

input[type="radio"] {
    cursor: pointer;
}

.skryto {
    display: none;
}

tr.isclosed td {
    text-decoration: line-through;
}

.closed_item {
    text-decoration: line-through;
}



tr.isclosed_by_color td {
    color: gray;
    font-style: italic;
}


.txz {
    cursor: default; /*tr řádek pro mycombo*/
}

.txs {
    cursor: pointer; /*tr řádek pro mysearch*/
}

textarea {
    display: block;
    overflow: hidden;
    resize: none;
    background-color: #ffffcc !important;
}


input[type="radio"] {
    margin-right: 3px;
    margin-left: 3px;
    cursor: pointer;
}

    input[type="radio"] + label {
        cursor: pointer;
    }



input[type="checkbox"] {
    margin-right: 3px;
    margin-left: 3px;
    cursor: pointer;
}



input[type="checkbox"] + label:hover {
    color: cornflowerblue;
    cursor:pointer;
}

input[type="checkbox"]:checked + label {
    color: blue;
}


/*asp.net core doplňuje k checkboxům hidden element navíc!!!*/
input[type="checkbox"]:checked + input[type="hidden"] + label {
    color: blue;
}

input[type="checkbox"] + input[type="hidden"] + label:hover {
    cursor: pointer;
    color:cornflowerblue;
}



.selcell {
    background-color: #448CCB;
    color: white;
}

.no_clipboard {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10+ and Edge */
    user-select: none; /* Standard syntax */
}


/*link pro hamburger menu*/
/*link pro hamburger menu*/
a.cm {
    cursor: pointer;
    text-decoration: none;
    color: black;
}

    a.cm:hover {
        background-color: #ADD8E6;
    }



/* ----------------------- Kontextové MENU Zleva doprava ----------------------- */
.cm_left2right {
    /* padding: 6px; */
    margin: 0;
    border: none;
    background-color: white; /*aliceblue*/
    border: 1px solid rgba(0,0,0,0.15); /* z bootstrapu */
    z-index: 999;
}

    .cm_left2right ul, .cm_left2right li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .cm_left2right ul {
        position: relative;
        z-index: 597;
        float: left;
    }

        .cm_left2right ul li {
            float: left;
            min-height: 1px;
            line-height: 1.7em;
            vertical-align: middle;
        }

            .cm_left2right ul li.hover, .cm_left2right ul li:hover {
                position: relative;
                z-index: 599;
                cursor: default;
            }

        .cm_left2right ul ul {
            visibility: hidden;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 598;
            width: 100%;
        }

            .cm_left2right ul ul li {
                float: none;
            }

            .cm_left2right ul ul, .cm_left2right ul ul ul {
                top: -1px;
                left: 99%;
            }

        .cm_left2right ul li:hover > ul {
            visibility: visible;
        }

        .cm_left2right ul li {
            float: none;
        }

    .cm_left2right a {
        display: block;
    }
    /* Custom CSS Styles */


    .cm_left2right:after, .cm_left2right ul:after {
        content: '';
        display: block;
        clear: both;
    }

    .cm_left2right ul {
        background-color: white; /* aliceblue */
        border: 1px solid #AAAAAA;
        padding: 4px;
        width: 300px;
    }

        .cm_left2right ul li {
            color: #000;
            position: relative;
        }

            .cm_left2right ul li.hover, .cm_left2right ul li:hover {
                background: #E5E5E5;
                color: #FFF;
            }

                .cm_left2right ul li.hover > a, .cm_left2right ul li:hover > a {
                    color: #2D89EF;
                    background: #E5E5E5;
                    /* border: 1px solid silver; */
                }

        .cm_left2right ul ul {
            width: 260px;
        }

    .cm_left2right a {
        border: 1px solid transparent;
        padding: 3px 10px;
    }

        .cm_left2right a:link, .cm_left2right a:visited {
            color: #000;
            text-decoration: none;
        }

        .cm_left2right a:hover {
            background: #E5E5E5;
            color: #2D89EF;
        }

        .cm_left2right a:active {
            color: #ffa500;
        }

    .cm_left2right .has-sub:hover > a:after, .cm_left2right .has-sub.hover > a:after {
        border-color: transparent transparent transparent #FFF;
    }

    .cm_left2right .has-sub > a:after {
        content: '';
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 4px 0 4px 4px;
        border-color: transparent transparent transparent #808080;
        position: absolute;
        top: 50%;
        right: 5%;
        margin-top: -4px;
        -webkit-transform: rotate(360deg);
    }

/*Kontextové MENU pro mobilní zařízení*/
.cm_mobile {
    position: absolute;
    background-color: aliceblue;
    left: 0px;
    height: 100%;
    width: 100%;
    z-index: 999;
    overflow: auto;
}

    .cm_mobile ul, #cm_mobile ul li {
        padding-top: 5px;
        padding-bottom: 10px;
        list-style: none;
    }


/*Kontextové MENU zprava do leva*/
.cm_right2left {
    padding: 6px;
    margin: 0;
    border: none;
    background-color: aliceblue;
}

    .cm_right2left ul,
    .cm_right2left li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .cm_right2left ul {
        position: relative;
        z-index: 597;
        float: right;
    }

        .cm_right2left ul li {
            float: right;
            min-height: 1px;
            line-height: 1.5em;
            vertical-align: middle;
            text-align: right;
        }

            .cm_right2left ul li.hover,
            .cm_right2left ul li:hover {
                position: relative;
                z-index: 599;
                cursor: default;
            }

        .cm_right2left ul ul {
            visibility: hidden;
            position: absolute;
            top: 100%;
            right: 0;
            z-index: 598;
            width: 100%;
        }

            .cm_right2left ul ul li {
                float: none;
            }

            .cm_right2left ul ul,
            .cm_right2left ul ul ul {
                top: -1px;
                right: 99%;
            }

        .cm_right2left ul li:hover > ul {
            visibility: visible;
        }

        .cm_right2left ul li {
            float: none;
        }

    .cm_right2left a {
        display: block;
    }


    /* Custom CSS Styles */

    .cm_right2left:after,
    .cm_right2left ul:after {
        content: '';
        display: block;
        clear: both;
    }

    .cm_right2left ul {
        background-color: aliceblue;
        border: 1px solid silver;
        padding: 4px;
        width: 300px;
    }

        .cm_right2left ul li {
            color: #000;
            position: relative;
        }

            .cm_right2left ul li.hover,
            .cm_right2left ul li:hover {
                background: #E5E5E5;
                color: #FFF;
            }

                .cm_right2left ul li.hover > a,
                .cm_right2left ul li:hover > a {
                    color: #2D89EF;
                    border: 1px solid silver;
                }

        .cm_right2left ul ul {
            width: 260px;
        }

    .cm_right2left a {
        border: 1px solid transparent;
        padding: 3px 10px;
    }

        .cm_right2left a:link,
        .cm_right2left a:visited {
            color: #000;
            text-decoration: none;
        }

        .cm_right2left a:hover {
            background: #E5E5E5;
            color: #2D89EF;
        }

        .cm_right2left a:active {
            color: #ffa500;
        }

    .cm_right2left .has-sub:hover > a:after,
    .cm_right2left .has-sub.hover > a:after {
        border-color: transparent transparent transparent #FFF;
    }

    .cm_right2left .has-sub > a:after {
        content: '';
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 4px 4px 4px 0px;
        border-color: transparent #808080 transparent transparent;
        position: absolute;
        top: 50%;
        left: 5%;
        margin-top: -4px;
        -webkit-transform: rotate(360deg);
        background-color: #90EE90 !important;
        margin-left: 2px;
        padding: 6px;
    }


/* ----------------------- Kontextové MENU na stránce RecPage ----------------------- */
.cm_recpage {
    margin: 0;
    border: none;
}

    .cm_recpage ul, .cm_recpage li {
        list-style: none;
        margin: 0;
        padding: 0;
    }

    .cm_recpage ul {
        position: relative;
        z-index: 597;
        float: left;
        width: 100%;
    }

        .cm_recpage ul li {
            float: left;
            min-height: 1px;
            line-height: 1.7em;
            vertical-align: middle;
        }

            .cm_recpage ul li.hover, .cm_recpage ul li:hover {
                position: relative;
                z-index: 599;
                cursor: default;
            }

        .cm_recpage ul ul {
            visibility: hidden;
            position: absolute;
            top: 100%;
            left: 0;
            z-index: 598;
            width: 100%;
        }

            .cm_recpage ul ul li {
                float: none;
            }

            .cm_recpage ul ul, .cm_recpage ul ul ul {
                top: -1px;
                left: 99%;
            }

        .cm_recpage ul li:hover > ul {
            visibility: visible;
        }

        .cm_recpage ul li {
            float: none;
        }

    .cm_recpage a {
        display: block;
    }
    /* Custom CSS Styles */


    .cm_recpage:after, .cm_recpage ul:after {
        content: '';
        display: block;
        clear: both;
    }

    .cm_recpage ul {
        border: 1px solid #AAAAAA;
        padding-top: 4px;
    }

        .cm_recpage ul li {
            color: #000;
            position: relative;
        }

            .cm_recpage ul li.hover, .cm_recpage ul li:hover {
                background: #E5E5E5;
                color: #FFF;
            }

                .cm_recpage ul li.hover > a, .cm_recpage ul li:hover > a {
                    color: #2D89EF;
                    background: #ECECEC;
                    /* border: 1px solid silver; */
                }

        .cm_recpage ul ul {
            width: 260px;
        }

    .cm_recpage a {
        border: 1px solid transparent;
        padding: 3px 10px;
    }

        .cm_recpage a:link, .cm_recpage a:visited {
            color: #000;
            text-decoration: none;
        }

        .cm_recpage a:hover {
            background: #E5E5E5;
            color: #2D89EF;
        }

        .cm_recpage a:active {
            color: #ffa500;
        }

    .cm_recpage .has-sub:hover > a:after, .cm_recpage .has-sub.hover > a:after {
        border-color: transparent transparent transparent #FFF;
    }

    .cm_recpage .has-sub > a:after {
        content: '';
        width: 0px;
        height: 0px;
        border-style: solid;
        border-width: 4px 0 4px 4px;
        border-color: transparent transparent transparent #808080;
        position: absolute;
        top: 50%;
        right: 5%;
        margin-top: -4px;
        -webkit-transform: rotate(360deg);
    }

.cm_submenu {
    background-color: #F8F9FA !important; /* #90EE90 */
    padding: 6px;
    position:absolute;
    
}
/*SPLITTER*/
/* splitter zleva doprava - horizontální*/

.splitter-container-left2right {
    display: flex;
    flex-direction: row;
    border: 1px solid silver;
    overflow: hidden;
    /* avoid browser level touch actions */
    touch-action: none;
}

.splitter-panel-left {
    flex: 0 0 auto;
    /* only manually resize */
    padding: 0px;
    width: 300px;
    min-width: 200px;
    overflow-y: auto;
}

.splitter-resizer-left2right {
    flex: 0 0 auto;
    width: 6px;
    background: url(../Images/vsizegrip.png) center center no-repeat #F5F5F5;
    min-height: 200px;
    cursor: col-resize;
}

.splitter-panel-right {
    flex: 1 1 auto;
    /* resizable */
    width: 100%;
    min-height: 200px;
    background: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 100% 100%"><text fill="gray" x="70%" y="70%" font-family="\'Lucida Grande\', sans-serif" font-size="14" text-anchor="middle">Loading...</text></svg>') 0px 0px no-repeat;
}


/* vertical panel */

.splitter-container-top2bottom {
    display: flex;
    flex-direction: column;
    height: 500px;
    border: 1px solid silver;
    overflow: hidden;
}

.splitter-panel-top {
    flex: 0 0 auto;
    /* only manually resize */
    padding: 0px;
    height: 400px;
    width: 100%;
    min-height: 100px;
    overflow-y: hidden;
}

.splitter-resizer-top2bottom {
    flex: 0 0 auto;
    height: 6px;
    background: url(../Images/hsizegrip.png) center center no-repeat #E5E5E5;
    cursor: row-resize;
    z-index: 500;
}

.splitter-panel-bottom {
    flex: 1 1 auto;
    /* resizable */
    padding: 0px;
    min-height: 300px;
    background: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 100% 100%"><text fill="gray" x="70%" y="70%" font-family="\'Lucida Grande\', sans-serif" font-size="14" text-anchor="middle">Loading...</text></svg>') 0px 0px no-repeat;
}











/*Modální okno - jeho DIV kontejner*/
/* The Modal (background) */
#myModalContainer {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1000; /* Sit on top */
    padding-top: 0; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
#myModalContent {
    background-color: #fefefe;
    margin: 0;
    padding: 0;
    border: 1px solid #888;
    width: 1000px;
    position: absolute;
    top: 0px;
    left: 0px;
    cursor: move;
}

#myModalContentContainerHeader {
    background-color: #2D89EF;
    padding-bottom: 2px;
    padding-top: 2px;
}

#myModalContentHeader {
    color: white;
}


iframe {
    display: block;
    background: #000;
    border: none;
    width: 100%;
    height: 100%;
    background: url('data:image/svg+xml;charset=utf-8,<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%" viewBox="0 0 100% 100%"><text fill="silver" x="50%" y="50%" font-family="\'Lucida Grande\', sans-serif" font-size="24" text-anchor="middle">Content...</text></svg>') 0px 0px no-repeat;
}

a.nav-link:hover {
    background-color: #F5F5F5;
    color: black !important;
}

#navtabs .nav-link {
    margin-right: 1px;
}

    #navtabs .nav-link.active {
        background-color: white;
        height: 100%;
    }

a.nav-link-mini { /*context menu link pro velmi nízké okna pod 300px*/
    margin-left: 6px;
}

a.grid-link {
    display: block;
}

    a.grid-link:hover {
        background-color: #F5F5F5;
    }

hr.hr-mini { /*používá se v kontextovém menu*/
    margin-bottom: 0px;
    padding-bottom: 0px;
}
/*box MT štítku (o51)*/
.tagbox {
    display: inline-block;
    min-width: 50px;
    padding: 3px;
    font-weight: normal;
    line-height: 1;
    text-align: center;
    border: solid;
    border-width: 1px;
    border-color: #CED4DA;
    vertical-align: middle;
    border-radius: 4px;
    color: black;
    background-color:white;
    margin-left: 2px;
}


.val-readonly {
    display: block;
    width: 100%;
    min-height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem 0.375rem 0.375rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    background-color: #F8F9FA;
    background-clip: padding-box;
    border: 1px solid #E5E5E5; /*původní barva byla: #ced4da*/
    border-radius: 0.25rem;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.val-readonly-wrap {
    display: block;
    width: 100%;
    min-height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem 0.375rem 0.375rem;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    background-color: #F8F9FA;
    background-clip: padding-box;
    border: 1px solid #E5E5E5; /*původní barva byla: #ced4da*/
    border-radius: 0.25rem;
}

    .val-readonly-wrap a {
        text-decoration: none;
    }

        .val-readonly-wrap a:hover {
            text-decoration: underline;
        }

.numeric_reaodnly_110 {
    display: inline-block;
    width: 110px;
    text-align: right;
    margin-right:4px;
}


#subform_div_commands { /*2 záhlaví stránky v rámci záložek */
    padding-top: 10px;
    padding-bottom: 10px;
    height: 50px;
}


/*2 panely pro rozložení layout stránky, overflow-y:auto bylo nutné zaremovat kvůli RecPage stránce*/
#layout_sidebar {
    height: 100%;
    width: 200px;
    position: fixed;
    z-index: 1;
    left: 0;
    background-color: #F8F9FA;
    border-right: solid 1px #F5F5F5;
    overflow-x: visible;
    /*overflow-y:auto;*/
    transition: 0.5s;
}

    #layout_sidebar #menu_active_item {
        background-color: #DCDCDC !important;
    }

        #layout_sidebar #menu_active_item a:link,
        #layout_sidebar #menu_active_item a:visited {
            color: black;
        }


#layout_main {
    transition: margin-left .5s;
    padding: 0px;
    margin-left: 200px;
    display: block;
    
}

#layout_sidebar_contextmenu {
    width: 200px;
    text-align: center;
}

#layout_sidebar_contextmenu_link {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: none;
}

#layout_sidebar_contextmenu_onlytext {
    display: block;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

#layout_main_divtree {
    height: 400px;
    overflow: auto;
    border-top: solid 1px #CCCCCC;
}

@media screen and (max-width: 1000px) {
    #layout_sidebar {
        width: 100%;
        height: auto;
        position: relative;
        display: none;
    }

    #layout_sidebar_contextmenu_link {
        display: block;
    }

    #layout_sidebar_contextmenu_onlytext {
        display: none;
    }

    #layout_main {
        margin-left: 0;
    }
}

@media screen and (max-width: 600px) {

    .nonmobile {
        display: none;
    }
}

@media screen and (max-width: 1000px) {

    .nontablet {
        display: none;
    }
}


button.cmdDropdown {
    border-radius: 0px;
    border-top: solid 1px #C8C8C8;
    border-right: solid 1px #C8C8C8;
    border-bottom: solid 1px #C8C8C8;
    border-left: none;
}


.hr-text {
    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: silver;
    font-size: 12px;
    margin: 1px 0px;
}

    .hr-text::before,
    .hr-text::after {
        content: "";
        flex-grow: 1;
        background: rgba(0, 0, 0, 0.35);
        height: 1px;
        font-size: 0px;
        line-height: 0px;
        margin: 0px 2px;
    }




div.tabs_container {
    padding-top: 2px;
    margin-bottom: 1px;
    /* background-image: linear-gradient(#E5E5E5, silver);*/
    /*background-color: #F0F8FF;*/
    /* background-image: linear-gradient(#E5E5E5, silver);*/
}

.onetab {
    border-left: solid 1px silver;
    border-top: solid 1px silver;
    border-right: solid 1px silver;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    margin-left: 1px;
    background-color: #DCDCDC;
}


.tabovergrid {
    border-top: solid 2px silver;
    border-left: solid 1px silver;
    border-right: solid 1px silver;
    border-top-right-radius: 6px !important;
    border-top-left-radius: 6px !important;
    margin-right: 4px;
    background-color: white;
    padding-top: 4px;
    padding-bottom: 6px;
    min-width: 100px;
    text-align: center;
    cursor: default;
}

    .tabovergrid:hover {
        background-color: #DCDCDC;
    }



/* záložky v modálním formuláři */
div.tabs_container_record {
    background-color: #F5F5F5;
    padding-top: 6px;
    padding-left: 6px;
    color: black;
}

    div.tabs_container_record .nav-link {
        color: black;
    }


.required {
    color: red;
}

.selected {
    background-color: #F98B00;
    color: white;
}

a.selected:hover {
    background-color: #F98B00;
    color: black;
}

.filtered {
    background-color: red;
    color: white;
}

.valhover_tooltip {
    visibility: hidden;
    font-weight: normal;
    width: 16px;
    background-color: darkgray;
    color: white;
    text-align: center;
    border-radius: 4px;
    padding: 1px 5px;
    margin-left: 5px;
    cursor: pointer;
    /* Position the tooltip */
    position: sticky;
    right: 4px;
    z-index: 1000;
}

    .valhover_tooltip:hover {
        color: white;
    }



.rowvalhover:hover .valhover_tooltip {
    visibility: visible;
}



/* qtip - ZOOM vybraného záznamu  
----------------------------------------------------------*/
a.reczoom {
    font: normal 15px Arial bold;
    padding-left: 5px;
    padding-right: 5px;
    color: blue;
    background-color: lightblue;
    border-radius: 5px;
    margin-left: 1px;
    text-decoration: none;
    cursor: help;
    visibility: hidden;
}

.rowvalhover:hover .reczoom {
    visibility: visible;
}

#site_loading1 { /*loading info vlevo-nahoře*/
    position: absolute;
    font-weight: bold;
    z-index: 9999;
    background-color: cornflowerblue;
    border-radius: 4px;
    padding: 4px;
    top: 5px;
    left: 5px;
    letter-spacing: 4px;
    width: 190px;
}

#site_loading2 { /*loading info v podformuláři*/
    position: absolute;
    font-weight: bold;
    z-index: 9999;
    border-radius: 4px;
    padding: 4px;
    margin-left: 700px;
}


#cmdHome { /* HOME menu v hlavním menu*/
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
    cursor: pointer;
    width: 100%;
}

table.table-thecombo {
    background-color: #E6F0FF;
}

    table.table-thecombo tbody tr:hover {
        background-color: dodgerblue;
        color: white;
    }


div.info_record_container {
    padding-top: 6px;
    padding-left: 6px;
    width: 98%;
}

div.recpagebox400 {
    float: left;
    width: 400px;
    min-height: 100px;
    margin-left: 4px;
    margin-top: 4px;
    vertical-align: top;
}

div.recpageboxauto {
    float: left;
    margin-left: 4px;
    margin-top: 4px;
    vertical-align: top;
}

.recpagetitle {
    color: darkblue;
    font-weight: bold;
    background-color: aliceblue;
    padding: 5px;
    border-radius: 6px;
    cursor:default;
}

label.recpagelabel {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.bgp28 {
    background-color: #eefdec;
}
.bgp41 {
    background-color: aliceblue;
}
.bgj02 {
    background-color: #FCFAE8;
}
.bgp91 {
    background-color: #C3E6CB;
}
.bgo23 {
    background-color:lightpink;
}

